// paleta de colores
$color-primary:#c2dfe3;
$color-principal-title:#89b0ae;
$color-secondary:#264653;
$color-terciary:#62929e;
$color-text:gray;
$color-alternative:#f7f7f7;
$color-alternative2:#9db4c0;


// tamaño de fuentes
$size_h1:2.5rem;
$size_2:2rem;
$size_h2:1.5rem;
$size_bigtext:1.25rem;
$size_mediumtext:1rem;
$size_smalltext:0.9rem;
$size_smallertext:0.8rem;


